
.icon {
    font-family: 'Material Icons';
    font-size: 60px;
    margin-top: -20px;
    margin-right: 10px; /*Adjust spacing between icon and text*/
  }
  .module {
    display: flex;
    align-items: right;
    margin-top: 10px;
  }
  .module-name {
    font-size: 30px;
    margin-top: -20px; /*Adjust spacing between text and next module*/
  }
  /* .input-name  {
    position: absolute;
    /* left:65px; */
    /* margin-top:40px;
    color: #090000;
  } */
   

  .backhome  {
    width: 1450px; /* Set the width of the container */
    height: 50px; /* Set the height of the container */
    background-color: rgba(155, 173, 241, 0.5); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    padding: 20px; /* Add padding for spacing */
    border-radius: 50px; /* Add border-radius for rounded corners */
    display: flex;



    flex-direction: column; /* Stack children vertically */
  }
  .module-home {
    position: absolute;
    right:65px;
    margin-top:-29px;
    color: #090000;
  }
  
  a {
    margin-bottom: 70px;
    text-decoration: none;
    text-decoration-style: solid;
    color: blue; /* Change link color to blue */
}

.logout {
    align-self: left;
    position: relative;
    left: 1350px; /* Move div 20px to the left */
    width:122.38px;
    height:37.6px;
}